body {
    font-size: 12px;
    font-family: "微软雅黑";
}

i {
    border-left: 1px solid #b8b8b8;
    height: 11px;
    display: inline-block;
    margin: auto 2px;
}

.header_warp,
.nav_warp,
.xiaoxuan_warp,
.case_con,
.pinzhi_warp {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.header_warp {
    height: 50px;
}

.header_warp li {
    float: left;
    line-height: 49px;
    font-size: 15px;
    color: #8d8d8d;
    margin-right: 22px;
}

.header_warp li a {
    color: #8d8d8d;
}

.header_warp li:nth-last-child(1) a {
    color: #E1140A;
}

/* nav */
nav {
    width: 100%;
    height: 72px;
    background-color: #e0e0e0;
    position: relative;
    z-index: 100;
}

nav h1 {
    position: absolute;
    top: -50px;
}

nav .load {
    position: absolute;
    right: 160px;
    top: -50px;
}

nav .load a {
    color: #000;
    line-height: 50px;
}

nav .load div:nth-of-type(1) {
    display: none;
    float: left;
    margin-right: 5px;
    padding-top: 15px;
}

nav .load div:nth-of-type(1) img {
    width: 20px;
    height: 20px;
}

nav .load div {
    float: right;
    width: 30px;
    height: 50px;
    padding: 13.5px 0 13.5px 0px;
    position: relative;
    box-sizing: border-box;
    margin-left: 20px;
}

nav .load div img {
    display: inline-block;
    width: 23px;
    height: 23px;
}

nav .load .i1 {
    position: absolute;
    display: block;
    top: 32px;
    right: 18px;
    width: 157px;
    height: 33px;
    background: url(../img/t1.png) no-repeat;
    background-size: 157px 33px;
    z-index: 3;
    text-align: center;
    line-height: 36px;
    font-style: normal;
    padding-right: 36px;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;
    cursor: pointer;
    border-left: none;
}

nav .load i a {
    color: #ba9964;
    font-size: 12px;
    line-height: 30px;
}

/* 登录 */
.zuanshi,
.gwcpt {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    margin: 0 5px;
}
.load .tuichu {
    padding-top: 13px;
    display: none;
    position: absolute;
    top: 30px;
    right: 77px;
    width: 120px;
    padding-bottom: 10px;
    z-index: 5;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.load .tuichu li {
    height: 30px;
    cursor: pointer;
}

.load .tuichu li button {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
    color: rgb(92, 90, 90);
}
nav .load span {
    display: none;
    width: 83px;
    height: 2px;
    position: absolute;
    top: 48px;
    left: -13px;
    z-index: 6;
    background: #000;
}

.yhu:hover span {
    display: inline-block;
}

.yhu:hover .tuichu {
    display: block;
}
/* 登录 */

.nav_warp {
    transition: all .2s;
}

.nav_warp ul li {
    float: left;
    margin-right: 45px;
    line-height: 70px;
}

.nav_warp ul li a {
    font-size: 17px;
    color: #3a3a3a;
    font-weight: 550;
}

.nav_warp .search {
    float: right;
    width: 280px;
    height: 40px;
    position: relative;
    margin-top: 17px;
}

.nav_warp .search .logo_text {
    width: 270px;
    height: 36px;
    background-color: #eaeaea;
    border-radius: 30px;
    position: absolute;
    top: 0px;
    z-index: 0;
    left: 0px;
}

.nav_warp .search .logo_text a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-family: 微软雅黑;
    margin-right: 0;
    position: absolute;
    float: none;
    right: 15px;
    top: 1px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    z-index: 2;
    cursor: pointer;
}

.nav_warp .search .logo_text a span {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 7px;
    background-image: url(../img/67.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav_warp .search .logo_text input {
    width: 220px;
    height: 36px;
    outline: 0;
    font-size: 12px;
    line-height: 36px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
    border: 0;
    color: rgb(27, 27, 27);
    padding: 0 0 0 17px;
    box-sizing: content-box;
}

/* banner */
.banner {
    position: relative;
}

.banner .banner_list {
    width: 230px;
    position: absolute;
    top: 33px;
    left: 50%;
    margin-left: -600px;
    z-index: 10;
}

.show_banner {
    width: 230px;
    background: rgba(255, 255, 255, 0.85);
}

.show {
    width: 230px;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    position: relative;
}

.banner .banner_list ul li div a {
    height: 25.5px;
    line-height: 25.5px;
    color: #494949;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    padding: 16px 15px 15px 30px;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: block;
    box-sizing: content-box;
}

.banner .banner_list ul li:hover div a {
    opacity: .8;
    color: #e2231a;
    background: #f7f7f7;
    border-right: none;
}

.banner .list_icona {
    position: absolute;
    right: 19px;
    top: 24px;
    width: 6px;
    height: 9px;
    background-position: -84px -36px;
    display: inline-block;
    background-image:url(https://p4.lefile.cn/product/adminweb/2019/10/30/1987c72b-c35c-4679-a712-6dcf0ca73c58.png);
    background-repeat: no-repeat;
}
.banner .banner_list ul li:hover .list_icona {
    background-position: -74px -36px;
}
.show .list_mian {
    display: none;
    width: 1000px;
    height: 402px;
    background: #f7f7f7;
    position: absolute;
    top: -1px;
    left: 229px;
    padding: 25px;
}

.show .list_mian li {
    width: 700px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.show .list_mian li h4 {
    width: 80px;
    font-size: 14px;
    font-weight: 400;
    float: left;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
}
.show .list_mian li h4:hover{
    color: #f00;
}
.show .list_mian li p {
    float: left;
    width: 615px;
}

.show .list_mian li p a {
    border-left: 1px solid #e5e5e5;
    padding-left: 12px;
    padding-right: 12px;
    color: #191919;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
}
.show .list_mian li p a:hover{
    color: #f00;
}

.show .list_mian img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.show .list_mian img:nth-of-type(2) {
    top: 190px;
    right: 20px;
}

/* xiaoxuan */
.xiaoxuan_warp ul {
    height: 95px;
    font-size: 0;
    text-align: center;
}

.xiaoxuan_warp ul li {
    width: 9%;
    bottom: 5px;
    top: 5px;
    display: inline-block;
    height: 95px;
    line-height: 95px;
    text-align: center;
}

.xiaoxuan_warp ul li a {
    display: inline-block;
    vertical-align: middle;
}

.xiaoxuan_warp ul li:hover {
    transition: all .5s;
    box-shadow: 0 0 8px 0 rgba(200, 200, 200, 0.50);
    transform: translate3d(0, -2px, 0);
}

.xiaoxuan_warp ul li a div img:nth-of-type(2) {
    display: none;
}

.xiaoxuan_warp ul li:hover a div img:nth-of-type(2) {
    display: block;
}

.xiaoxuan_warp ul li:hover a div img:nth-of-type(1) {
    display: none;
}

.xiaoxuan_warp ul li a div img {
    line-height: 95px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.xiaoxuan_warp ul li a div span {
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 13px;
    color: #505050;
    margin-top: 2px;
    text-align: center;
}

.xiaoxuan_warp ul li:hover div span {
    color: #e1140a !important;
}

main {
    padding-top: 20px;
    background-color: #f5f5f5 !important;
}

.main .qianggo {
    float: left;
    width: 230px;
    height: 340px;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    text-align: center;
}

.main .qianggo div:nth-of-type(2) {
    margin-top: 44px;
    text-align: center;
}

.main .qianggo div:nth-of-type(2) i {
    width: 120px;
    height: 27px;
    background-image: url(../img/miaosha.png);
    background-size: 120px 27px;
    border-left: none;
}

.main .qianggo div:nth-of-type(3) i {
    width: 28px;
    height: 60px;
    margin-top: 22px;
    background-image:
        url(../img/leidian.png);
    background-size: 28px 60px;
    border-left: none;
}

.main .qianggo div:nth-of-type(4) .time {
    margin-top: 14px;
}

.main .qianggo div:nth-of-type(4) .time span {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.main .qianggo div:nth-of-type(4) h5 {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.main .qianggo div:nth-of-type(4) .ltime {
    margin-top: 18px;
    text-align: center;
}

.main .qianggo div:nth-of-type(4) .ltime span {
    display: inline-block;
    line-height: 30px;
    background: #242424;
    border-radius: 4px;
    color: #fff;
    margin: 0 4px;
    font-size: 16px;
    width: 30px;
    height: 30px;
}

.main .qianggo_middle {
    width: 918px;
    float: left;
    height: 340px;
    overflow: hidden;
    background-color: #fff;
}

.main .qianggo_middle .shangbu {
    height: 66px;
    line-height: 66px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    position: relative;
}

.main .qianggo_middle .shangbu ul {
    overflow: hidden;
    height: 100%;
    margin-left: 22px;
    font-size: 0;
}

.main .qianggo_middle .shangbu ul li {
    background-image: linear-gradient(134deg, #ec1111 0%, #ff8200 97%);
    border-radius: 13px;
    color: #fff;
    display: inline-block;
    width: 164px;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.main .qianggo_middle .shangbu ul li div {
    text-align: center;
}

.main .qianggo_middle .shangbu ul li div i {
    border-left: none;
}

#jishow {
    position: absolute;
    top: 0;
    left: 220px;
    font-size: 14px;
    font-weight: bold;
}

#jishow:hover {
    color: #e1140a;
}

.main .qianggo_middle .xiabu {
    margin: 0 0 0 23px;
}

.main .qianggo_middle .xiaobu-main ul {
    width: 100%;
    font-size: 0;
    height: 273px;
    overflow: hidden;
}

.main .qianggo_middle .xiaobu-main ul li {
    width: 206px;
    display: inline-block;
    margin-right: 23px;
    margin-top: 17px;
    border-right: 1px solid #e8e8e8;
    padding-right: 10px;
}

.main .qianggo_middle .xiaobu-main ul li a {
    display: inline-block;
}

.main .qianggo_middle .xiaobu-main ul li a .showimg {
    width: 160px;
    height: 160px;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(1) img {
    display: inline-block;
    vertical-align: middle;
    max-width: 160px;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(2) {
    margin-top: 9px;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-of-type(2) .wen {
    display: inline-block;
    width: 192px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    color: #242424;
    font-weight: 600;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(3) {
    margin-top: 4px;
    height: 18px;
    position: relative;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(3) div {
    position: relative;
    width: 51px;
    height: 18px;
    line-height: 16px;
    border-radius: 2px;
    background-image: linear-gradient(270deg, #ff924e 0%, #fc5448 100%);
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(3) i {
    display: inline-block;
    width: 11px;
    height: 12px;
    margin-top: 1px;
    border-left: none;
    background-image: url(../img/84.png);
    background-size: 11px 13px;
    vertical-align: middle;
    margin-left: 5px;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(3) span {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    margin-top: 1px;
    color: #fff;
    right: 2px;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(4) {
    margin-top: 7px;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-of-type(4) div {
    display: inline-block;
    margin-top: 0;
    margin-right: 11px;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(4) div:nth-child(1) span {
    font-size: 16px;
    color: #e72d21;
    font-weight: bold;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(4) div:nth-child(1) span:nth-child(2) {
    color: #e2231a;
    font-weight: 600;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(4) div:nth-child(2) span {
    font-size: 14px;
    color: #858585;
}

.main .qianggo_middle .xiaobu-main ul li a div:nth-child(4) div:nth-child(2) span:nth-child(2) {
    text-decoration: line-through;
}

#xiaobuli {
    margin-right: 0;
    border-right: none;
}

.main .qianggo_right {
    margin-left: 3px;
    position: relative;
    float: left;
    width: 49px;
    height: 340px;
    background-image: linear-gradient(37deg, #ec1111 1%, #ff8200 99%);
}

.qianggo_right_cont {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 106px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.qianggo_right_cont a {
    display: inline-block;
}

.qianggo_right_cont a span {
    color: #fff;
}

.qianggo_right a i {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-left: none;
    background: url(../img/300.png) no-repeat;
    background-size: cover;
    margin-top: 11px;
}

.main-item {
    height: 633px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainp30 {
    padding-top: 30px;
}

.main-item .m_i_top {
    overflow: hidden;
    margin-bottom: 16px;
}

.main-item .m_i_top .m_i_top_name {
    float: left;
    height: 35px;
}

.main-item .m_i_top .m_i_top_name span {
    font-size: 26px;
    font-weight: bold;
    color: #1f1f1f;
    letter-spacing: -0.16px;
}

.main-item .m_i_top .m_i_top_list {
    float: right;
    height: 35px;
    line-height: 35px;
}

.main-item .m_i_top .m_i_top_list div {
    display: inline-block;
    line-height: 1;
    vertical-align: bottom;
}

.main-item .m_i_top .m_i_top_list div a {
    margin-right: 16px;
}

.main-item .m_i_top .m_i_top_list div a span {
    display: inline-block;
    font-size: 14px;
    color: #1f1f1f;
    letter-spacing: -0.09px;
    border-bottom: 1px solid transparent;
}

.main-item .m_i_top .m_i_top_list div a:hover span {
    color: #e1140a;
    border-bottom: 1px solid #e1140a;
}

.main-item .m_i_top::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.m_i_bot::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.m_i_bot_left {
    width: 230px;
    height: 542px;
    float: left;
}

.m_i_bot_left_con {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.m_i_bot_left_con a img {
    width: 230px;
    height: 542px;
}

.m_i_bot_left_con:hover img {
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transition: all .1s;
    transition: all .1s;
}

.m_i_bot_right {
    width: 958px;
    height: 542px;
    float: right;
}

.m_i_bot_right ul {
    width: 968px;
}

.m_i_bot_right ul li {
    position: relative;
    float: left;
    width: 230px;
    height: 265px;
    margin-right: 12px;
    background-color: #fff;
    margin-bottom: 12px;
}

.m_i_bot_right ul li div:nth-child(1) {
    margin-bottom: 5px;
}

.m_i_bot_right ul li div:nth-child(1) a {
    display: block;
    height: 170px;
    line-height: 170px;
    text-align: center;
}

.m_i_bot_right ul li div:nth-child(1) a img {
    display: inline-block;
    width: 160px;
    height: 160px;
    vertical-align: middle;
}

.m_i_bot_right ul li div:nth-child(2) a:nth-of-type(1) {
    display: block;
    height: 19px;
    line-height: 19px;
    font-size: 15px;
    color: #242424;
    letter-spacing: -0.1px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 4px;
    overflow: hidden;
    padding: 0 15px;
}

.m_i_bot_right ul li div:nth-child(2) a:nth-of-type(2) {
    display: block;
    font-size: 12px;
    color: #858585;
    letter-spacing: -0.07px;
    text-align: center;
    height: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 40px;
}

.m_i_bot_right ul li div:nth-child(2) .jiage a {
    display: block;
    font-size: 16px;
    color: #e2231a;
    letter-spacing: -0.1px;
    text-align: center;
    font-weight: 400;
}

.m_i_bot_right ul li:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow .3s linear;
    transition: box-shadow .3s linear;
}

.m_i_bot_right ul li:hover img {
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transition: all .1s;
    transition: all .1s;
}

#mit_genduo a {
    margin-right: 0;
}

#mit_genduo a img {
    display: inline-block;
    margin-left: 4px;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}

#mit_genduo a img:nth-of-type(2) {
    display: none;
}

#mit_genduo a:hover span {
    color: #e1140a;
    border-bottom: #f5f5f5 1px solid;
}

#mit_genduo a:hover img:nth-of-type(1) {
    display: none;
}

#mit_genduo a:hover img:nth-of-type(2) {
    display: inline-block;
}

.pinzhi {
    height: 209px;
    background: #fff;
    padding-bottom: 10px;
}

.pinzhi_warp img {
    width: 1200px;
    height: 199px;
}

footer {
    box-sizing: content-box;
    background-color: #FBFBFB;
    width: 100%;
    color: #ccc;
}

footer .item {
    width: 1270px;
    margin: auto;
    padding: 70px 0 70px 76px;
    position: relative;
}

footer .item::after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    content: "";
}

footer .item li {
    width: 152px;
    float: left;
}

footer .item li a {
    display: block;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 12px;
    color: #757575;
}

footer .item li .foot_top_title {
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 18px;
    font-weight: 600;
    color: #424242;
}

footer .item li:nth-last-of-type(1) {
    width: 273px;
    border-left: 1px solid #ccc;
    padding-left: 58px;
    margin-left: 5px;
}

footer .item li:nth-last-of-type(1) h4 {
    font-size: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #E1140A;
    font-weight: bold;
}

footer .item li:nth-last-of-type(1) span {
    font-size: 12px;
    color: #757575;
    letter-spacing: 0;
    text-align: left;
    line-height: 25px;
}

footer .item li:nth-last-of-type(1) a {
    background: url(../img/zixun.png);
    display: inline-block;
    width: 139px;
    height: 36px;
}

footer .foot_bot {
    border-top: 1px solid #424141;
    background: #272727;
    box-sizing: content-box;
}

.foot_bot_con {
    color: #757575;
    width: 1200px;
    margin: auto;
    font-size: 12px;
    line-height: 46px;
}

footer .foot_bot a {
    font-size: 12px;
    line-height: 46px;
    color: #757575;
}

footer .foot_bot .foot_bot_left span {
    display: inline-block !important;
    margin: 0 6px;
}

footer .foot_bot .foot_bot_right i {
    border-left: none;
}

.sort {
    width: 50px;
    height: auto;
    z-index: 20;
    position: fixed;
    right: 16px;
    top: 150px;
    display: none;
}

.sort-list ul li {
    position: relative;
}

.sort-list ul li a {
    display: block;
    cursor: pointer;
    font-size: 0;
}

.sort-list ul li a:nth-of-type(2) {
    display: none;
}

.sort-list ul li:hover a:nth-of-type(1) {
    display: none;
}

.sort-list ul li:hover a:nth-of-type(2) {
    display: block;
}

.sort-list ul li a img {
    width: 50px;
}

.sort-list ul li ul li img {
    position: absolute;
    top: -67px;
    right: 50px;
    width: 160px;
    cursor: pointer;
}

.sort-list ul li ul li img {
    display: none;
}

.sort-list ul li:hover ul li:nth-of-type(1) img {
    display: block;
}

.sort-list ul li ul:hover li:nth-of-type(2) img {
    display: block;
}

.sort-list ul li:nth-of-type(5) ul li img,
.sort-list ul li:nth-of-type(6) ul li img {
    width: 104px;
}

.sort-list ul li:nth-of-type(5) ul li img,
.sort-list ul li:nth-of-type(6) ul li img {
    top: -77px;
}

.ns {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: none;
}

.ns-floor-nav-box {
    position: fixed;
    left: 50%;
    margin-left: -650px;
    z-index: 99;
    width: 40px;
    top: 50%;
    margin-top: -166px;
    text-align: center;
}

.ns-floor-nav-box ul li a {
    text-decoration: none;
    font-size: 12px;
    width: 40px;
    display: block;
    margin: 0 auto;
    padding: 3px 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    font-weight: 500;
}

#miaosha_floor a span {
    display: inline-block;
    background-size: 20px 20px;
    line-height: 0;
    width: 20px;
    height: 20px;
    top: 1px;
}

#miaosha_floor .myicon {
    display: inline-block;
    background: url(../img/miao.png) no-repeat;
    background-size: 20px 20px;
    line-height: 0;
    width: 20px;
    height: 20px;
    top: 1px;
}

#miaosha_floor em {
    text-decoration: none;
    font-size: 12px;
    width: 40px;
    margin: 0 auto;
    height: 30px;
    line-height: 12px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    font-weight: 500;
    color: #4ac0e0;
}

.ns_line {
    width: 10px;
    height: 0;
    font-size: 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 5px auto;
    line-height: 0;
}

.ns-floor-nav-box ul li a {
    color: #000;
}

.ns-floor-nav-box ul li em {
    display: none;
}

/* swiper */
.swiper-container {
    width: 100%;
    height: 470px;

}

.swiper-button-prev,
.swiper-button-next {
    color: rgb(255, 255, 255) !important;
}

.swiper-container .hide {
    opacity: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}

.swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
}